<% include ./partials/header.ejs %>

<div class="header">
    <svg onclick="goBack()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
    <h4>Home </h4>
</div>
<div class="container">
    <div class="scroll-area">
        <h4 style="text-align: center;">All Donations</h4>
            <% food.reverse().forEach(function(food){ %>
                <% const dateObj = food.date %>
                <% const day = dateObj.getDate(); %>
                <% const monthIndex = dateObj.getMonth(); %>
                <% const year = dateObj.getFullYear(); %>
                <% const hours = dateObj.getHours(); %>
                <% const minutes = dateObj.getMinutes(); %>
                <% const amOrPm = hours >= 12 ? 'PM' : 'AM'; %>
                <% const formattedHours = hours % 12 === 0 ? 12 : hours % 12; %>
                <% const formattedMinutes = minutes < 10 ? '0' + minutes : minutes; %>
                <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; %>
                <a href="/donation/<%= food._id %>" style="color: black; font-size: 16px;">
                    <div class="food-container">
                        <h4><%= food.foodItems %></h4>
                        <h5><%= day %> <%= monthNames[monthIndex] %>, <%= year %> | <%= formattedHours %>:<%= formattedMinutes %> <%= amOrPm %></h5>
                    </div>
                </a>
            <% }) %>
      <br /><br /><br />
        
    </div>
</div>
<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>