<% include ./partials/header.ejs %>

<%
// Assuming 'users' and 'foods' are obtained from the server
let totalUsers = users.length ;
let totalDonations = 0;
let acceptedDonations = 0;
let rejectedDonations = 0;
let pendingDonations = 0;

var monthlyDonations = new Array(13).fill(0); 

foods.forEach(food => {
  totalDonations++;

  const donationDate = new Date(food.date);
  const month = donationDate.getMonth() + 1; 
  monthlyDonations[month]++;

  switch (food.status) {
      case "Accepted":
          acceptedDonations++;
          break;
      case "Rejected":
          rejectedDonations++;
          break;
      case "Pending":
          pendingDonations++;
          break;
      default:
          break;
  }
});

// Find top donors
let topDonors = users.sort((a, b) => b.donations.length - a.donations.length).slice(0, 5);
%>

<div class="header">
  <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
  <h4>Analytics</h4>
</div>

<div class="container">
  <div class="scroll-area">
    
    <div class="users-donations">
      <div class="child">
        <h5>Total Users</h5>
        <h2><%= totalUsers %></h2>
      </div>
      <div class="child">
        <h5>Total Donations</h5>
        <h2><%= totalDonations %></h2>
      </div>
    </div>


    <p>Donations</p>
    <div class="donation-types">
      <div class="child">
        <h5>Accepted</h5>
        <h2><%= acceptedDonations %></h2>
      </div>
      <div class="child">
        <h5>Rejected</h5>
        <h2><%= rejectedDonations %></h2>
      </div>
      <div class="child">
        <h5>Pending</h5>
        <h2><%= pendingDonations %></h2>
      </div>
    </div>

    <p>Donation Details</p>
    <div class="donation-graph">
      <div class="chartContainer" id="barChartContainer"></div>
    </div>

    <br>
    <p>All users</p>
    <div class="users-table-head">
      <p>Username</p>
      <p>Donations</p>
    </div>
    <div class="users-table">
      <ol>
        <% users.forEach(user => { %>
          <div class="user-cells">
            <div class="user-name">
              <a href="/user/<%= user._id %>"><%= user.username %></a>
            </div>
            <div class="user-donation">
              <h4><%= user.donations.length %></h4>
            </div>
          </div>
        <% }); %>
      </ol>
    </div>
    

    <br><br><br>
  </div>
</div>

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
  window.onload = function () {

    var barChart = new CanvasJS.Chart("barChartContainer", {
      animationEnabled: true,
      title: {
        text: "Monthly Donations",
      },
      axisY: {
        title: "Donations",
      },
      data: [
        {
          type: "spline",
          yValueFormatString: "#,##0 Donations",
          dataPoints: [
            { label: "January", y: <%= monthlyDonations[1] %> },
            { label: "February", y: <%= monthlyDonations[2] %> },
            { label: "March", y: <%= monthlyDonations[3] %> },
            { label: "April", y: <%= monthlyDonations[4] %> },
            { label: "May", y: <%= monthlyDonations[5] %> },
            { label: "June", y: <%= monthlyDonations[6] %> },
            { label: "July", y: <%= monthlyDonations[7] %> },
            { label: "August", y: <%= monthlyDonations[8] %> },
            { label: "September", y: <%= monthlyDonations[9] %> },
            { label: "October", y: <%= monthlyDonations[10] %> },
            { label: "November", y: <%= monthlyDonations[11] %> },
            { label: "December", y: <%= monthlyDonations[12] %> }
          ],
        },
      ],
    });
    barChart.render();

    
  };
</script>
<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>