<% include ./partials/header.ejs %>

<%
// Assuming 'users' and 'foods' are obtained from the server
let totalUsers = users.length;
let totalDonations = 0;
let acceptedDonations = 0;
let rejectedDonations = 0;
let pendingDonations = 0;
let donationMonths = {};

var monthlyDonations = new Array(13).fill(0); 

foods.forEach(food => {
  totalDonations++;

  const donationDate = new Date(food.date);
  const month = donationDate.getMonth() + 1; 
  monthlyDonations[month]++;

  switch (food.status) {
      case "Accepted":
          acceptedDonations++;
          break;
      case "Rejected":
          rejectedDonations++;
          break;
      case "Pending":
          pendingDonations++;
          break;
      default:
          break;
  }
});

// Find top donors
let topDonors = users.sort((a, b) => b.donations.length - a.donations.length).slice(0, 5);
%>

<div class="header">
  <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
  <h4>Analytics</h4>
</div>

<div class="container">
  <div class="scroll-area">
    
    <div class="chartContainer" id="barChartContainer"></div>

<h2>Total Users: <%= totalUsers %></h2>
<h2>Total Donations: <%= totalDonations %></h2>

<!-- <h2>Top Donors:</h2>
<ul>
    <% topDonors.forEach(user => { %>
        <li><%= user.name %> - <%= user.donations.length %> donations</li>
    <% }); %>
</ul> -->

<h2>All Users:</h2>
<ul>
    <% users.forEach(user => { %>
        <li><%= user.name %> - <%= user.donations.length %> donations</li>
    <% }); %>
</ul>


<h2>Accepted Donations: <%= acceptedDonations %></h2>
<h2>Rejected Donations: <%= rejectedDonations %></h2>
<h2>Pending Donations: <%= pendingDonations %></h2>
<br><br><br><br>
</div>
</div>

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script>
  window.onload = function () {
    // Bar Chart
    var barChart = new CanvasJS.Chart("barChartContainer", {
      animationEnabled: false,
      title: {
        text: "Monthly Donations",
      },
      axisY: {
        title: "Donations",
      },
      data: [
        {
          type: "spline",
          yValueFormatString: "#,##0 Donations",
          dataPoints: [
            { label: "January", y: <%= monthlyDonations[1] %> },
            { label: "February", y: <%= monthlyDonations[2] %> },
            { label: "March", y: <%= monthlyDonations[3] %> },
            { label: "April", y: <%= monthlyDonations[4] %> },
            { label: "May", y: <%= monthlyDonations[5] %> },
            { label: "June", y: <%= monthlyDonations[6] %> },
            { label: "July", y: <%= monthlyDonations[7] %> },
            { label: "August", y: <%= monthlyDonations[8] %> },
            { label: "September", y: <%= monthlyDonations[9] %> },
            { label: "October", y: <%= monthlyDonations[10] %> },
            { label: "November", y: <%= monthlyDonations[11] %> },
            { label: "December", y: <%= monthlyDonations[12] %> }
          ],
        },
      ],
    });
    barChart.render();

    
  };
</script>
<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>


<style>
.chartContainer {
  height: 250px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 0; /* Remove bottom margin */
}
</style>