<% include ./partials/header.ejs %>

<div class="header">
    <svg onclick="goBack()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
    <h4>Donation</h4>
</div>
<%= food.foodQuantity %>
<%= food.foodItems %>
<%= food.pickupLocation %>
<%= food.pickupDate %>
<%= food.pickupTime %>
<%= food.donatedBy.name %>
<%= food.donatedBy._id %>
<a href="/add-reviews/<%= food.donatedBy._id %>">review</a>

<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
