<% include ./partials/header.ejs %>

<div class="header">
    <svg
    onclick="goBack()"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-left"
  >
    <path d="m15 18-6-6 6-6" />
  </svg>
    <h4>Reviews</h4>
</div>

<div class="container">
    <div class="scroll-area" style="text-align: center;">
      <p>Food Freshness:</p><%= user.reviews.freshness %>
      <p>Food Safety and Hygiene:</p><%= user.reviews.safetyAndHygiene %>
      <p>Food Variety:</p><%= user.reviews.variety %>
      <p>Food Taste:</p><%= user.reviews.taste %>
      <p>Food Portion Size:</p><%= user.reviews.portionSize %>
      <p>Rating:</p><%= user.reviews.rating %>
      <p>Review:</p><%= user.reviews.review %>
        
        <br /><br /><br />
        
    </div>
</div>

<!-- Navigation bar -->
<% include ./partials/navigation.ejs %>
<!-- Footer -->
<% include ./partials/footer.ejs %>
